[Desktop Entry]
Name=Bash Pac
Exec=xfce4-terminal --working-directory=/home/zdislav/Desktop/stuff/bash-pac.AppDir -e ./bash-pac.sh
Type=Application
Categories=Game;
